
body{
    background:rgb(199,199,199);
}

.page-header{
    background:url(../imgs/logo.png) no-repeat 2px 6px rgb(221,226,249);
    min-height:85px;
    margin:0 0 25px 0;
    padding:0 0 29px 0;
    border:solid 1px transparent;
}

#sectLogin{
    margin:0 auto 1em auto;
    padding:3px 1.5em;
}

.axxt_submenu{
    margin:-2.1em 0 0 66px;
}

#contenido p{
    text-indent:2em;
}

.form-horizontal .row{
    margin:3px auto;
}

.footer{
    background:rgb(25,25,25);
    color:white;
    margin-top:1em;
    padding:1em 0 0.5em 0;
    border:solid 1px transparent;
}